post
<form action="/api/v1/testpost" method="post">
    value 01<input type="text" name="value01"/><br/>
    value 02<input type="text" name="value02"/>

    <button type="submit">전송</button>

    <a href="/formtest/123">여기 링크는?</a>
</form>

<br/>
<br/>
<br/>
get
<form action="/api/v1/testget" method="get">
    value 01<input type="text" name="value01"/><br/>
    value 02<input type="text" name="value02"/>

    <button type="submit">전송</button>

    <a href="/formtest/123">여기 링크는?</a>
</form>