<!DOCTYPE html>
<html lang="ko">
  <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->


      <link rel="stylesheet" href="/css/style.css">

      <!-- 부트스트랩 -->
      <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

      <!-- 부가적인 테마 -->
      <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css">

      <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
      <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/jquery/dist/jquery.min.js"></script>
      <script src="/js/common.js"></script>
      <!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
      <!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
      <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}
    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->

    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
  </body>
  <!-- Google Map api-->
  <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
</html>
