
<h1>My {{title}} Google Maps</h1>
<div id="map" style="width:100%;height:500px"></div>


<footer class="footer">
    <div class="row">
        <div class="col-md-4">
            <button type="button" class="btn btn-default">Left</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-default">Left</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-default">Left</button>
        </div>
    </div>
</footer>
<script>
    function myMap() {
        var mapCanvas = document.getElementById("map");
        var mapOptions = {
            center: new google.maps.LatLng(51.5, -0.2),
            zoom: 10
        }
        var map = new google.maps.Map(mapCanvas, mapOptions);
    }
</script>





